<center><font size="4">This is a jupyter notebook. Use <b>Shift + Enter</b> to run the current cell </font></center>

In [170]:
import pandas as pd                       # This line is used to import pandas library. 
                                          # Pandas is a long word to use, that's why use it "as pd"

In [171]:
dataframe = pd.read_csv("students.csv")   # Reading/Opening a csv(comma separated values) file (table like)

In [172]:
dataframe                                 #Table inside the  Type : Course type (Credit/Audit)

      Name Gender  Marks Type
0    Shyam      M     76    C
1    Mohan      M     74    A
2   Ramesh      F     47    C
3  Stanzin      F     89    C
4   Rajesh      M     55    C
5   Parker      M     45    A
6   Mukesh      F     34    C
7    Soham      M     78    A
8    Milan      F     91    A

In [173]:
print (dataframe.head())                     # Prints out the first 5 data rows

      Name Gender  Marks Type
0    Shyam      M     76    C
1    Mohan      M     74    A
2   Ramesh      F     47    C
3  Stanzin      F     89    C
4   Rajesh      M     55    C

In [174]:
df = dataframe                               # Shorten the name

In [164]:
len(df)

9

<center><font size="4">To select a particular column</font></center>

In [169]:
mark_col = dataframe['Marks']               # Or use df.Marks....Try that!!!

In [175]:
mark_col                                    # Try type(mark_col)

0    76
1    74
2    47
3    89
4    55
5    45
6    34
7    78
8    91
Name: Marks, dtype: int64

In [176]:
mark_list = list (mark_col)

<center><font size="4"> To create a dataframe of your own, follow this simple link </font></center>
https://www.geeksforgeeks.org/different-ways-to-create-pandas-dataframe/